head{
    background:transparent;
}

body{
    background-image: url('image/hometwo.svg');
    background-repeat: repeat-y;
    background-size: cover;
    -webkit-background-size: cover;
}
#blurbody{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

#subflex1{
    display:flex;
    flex-wrap: wrap;
    
}

#subflex2{
    display:flex;
    flex-wrap: wrap-reverse;

}


#subflex3{
    display:flex;
    flex-wrap: wrap;

}

#containerMain{
    border:0.6px solid rgba(200,200,200,0.3);
    padding-top:80px;
    padding-bottom:20px;
    border-radius:20px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    align-items: center;
    width:fit-content;
    height:fit-content;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

#flexmain{
    margin-top: 50px;

    position: absolute;
    /*margin-top:-20px;*/
    top:0px;
    left:0px;
    z-index: 2;
    display:flex;
    flex-wrap:wrap;
}

#box1{
    align-self:center;
    margin:10px;
    width:100%;
    height:500px;
    background:transparent;
}

#titleHead{ 
    text-align: center;

    margin:100px;
}

#boxTextConst{
   
    display:inline-block;
    color:rgb(40, 40, 40);
    font-weight: 4px;
    font-size: 4vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: max-content;

}

#changingHeadText{
    display: inline-block;
    position: relative ;
}

#changingHeadText::before{

    opacity: 100%;
    -webkit-opacity:100%;
    -webkit-content:"";
    content:"";
    font-weight: 700;
    width:100px;
    height:100px;
    animation: changeTitleText 15s alternate-reverse infinite;
    -webkit-animation: changeTitleText 15s alternate-reverse infinite;
}

#changingHeadTest::after{
    opacity: 100%;
    -webkit-opacity:100%;
    -webkit-content:"";
    content:"";
    font-weight: 700;
    width:100px;
    height:100px;
    animation: changeTitleText 15s alternate-reverse infinite;
    -webkit-animation: changeTitleText 15s alternate-reverse infinite;
}

@keyframes changeTitleText{
    0% {
        opacity: -10%;
        opacity: 100%;
        content:"Economics.";

    }
    10%{

        opacity: -10%;

    }
   20% {
    opacity: 100%;
        content:"Chemistry.";

    }

    30%{

        opacity: -10%;
    }
    40% {
        opacity: 100%;
        content:"Physics.";

    }

    50%{

        opacity: -10%;
    }
    60% {
        opacity: 100%;
        content:"English.";

    }
    
    70%{

        opacity: -10%;
    } 
    80% {
        opacity: 100%;
        content:"Biology.";

    }

    90%{
        opacity: -10%;
    }
    100% {
        opacity: 100%;
        content:"you.";

    }
}
@-webkit-keyframes changeTitleText{
    0% {
        -webkit-opacity: -10%;
        -webkit-opacity: 100%;
        -webkit-content:"Economics.";

    }
    10%{

        -webkit-opacity: -10%;

    }
   20% {
    -webkit-opacity: 100%;
    -webkit-content:"Chemistry.";

    }

    30%{

        -webkit-opacity: -10%;
    }
    40% {
        -webkit-opacity: 100%;
        -webkit-content:"Physics.";

    }

    50%{

        -webkit-opacity: -10%;
    }
    60% {
        -webkit-opacity: 100%;
        -webkit-content:"English.";

    }
    
    70%{

        -webkit-opacity: -10%;
    } 
    80% {
        -webkit-opacity: 100%;
        -webkit-content:"Biology.";

    }

    90%{
        -webkit-opacity: -10%;
    }
    100% {
        -webkit-opacity: 100%;
        -webkit-content:"you.";

    }
}

.container1{
    margin-left:-10px;
    width: 40vw;
    height:400px;
    background:transparent;
    overflow: hidden;
}

.cardContainer1{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:30px;
}

.cardMain{
    border:0.4px solid rgba(160,160,160,0.3);
    background:whitesmoke;
    /*
    background-image: url('image/download.jpeg');
    background-repeat: no-repeat;
    background-size:cover;*/
    margin:10px;
    border-radius:20px;
    backdrop-filter: blur(3px);
    width:200px;
    height:300px;
    overflow: hidden;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}

.chemistryCard{
    background:linear-gradient(45deg, rgba(233,255,103,0.9) 20%,rgba(221, 237, 128, 0.6) 50%, rgba(230,230,230,0.2) 90%);
    -webkit-background:-webkit-linear-gradient(45deg, rgba(233,255,103,0.9) 20%,rgba(221, 237, 128, 0.6) 50%, rgba(230,230,230,0.2) 90%);

}
.economicsCard{
    background:linear-gradient(45deg, rgba(233,212,255,0.9) 20%,rgba(239,232,247,0.6) 50%, rgba(230,230,230,0.2) 90%);
    -webkit-background:-webkit-linear-gradient(45deg, rgba(233,212,255,0.9) 20%,rgba(239,232,247,0.6) 50%, rgba(230,230,230,0.2) 90%);

}
.physicsCard{
    background:linear-gradient(45deg, rgba( 255, 220, 184,0.9) 20%,rgba(250, 203, 156, 0.6) 50%, rgba(230,230,230,0.2) 90%);
    -webkit-background:-webkit-linear-gradient(45deg, rgba( 255, 220, 184,0.9) 20%,rgba(250, 203, 156,0.6) 50%, rgba(230,230,230,0.2) 90%); 
}

.sub-icon-econs{
    background-image: url("image/line-chart.svg");
    width:20px;
    height:20px;
}

.sub-icon-chemistry{
    background-image: url("image/flask.svg");
    width:20px;
    height:20px;
}

.sub-icon-physics{
    background-image: url("image/apple-black.svg");
    background-size: cover;
    width:20px;
    height:20px;
}

.cardButton{
    border:none;
    width:50px;
    height:50px;
    border-radius: 50%;
   
    color:rgba(80,80,80,0.5);
    position: absolute;
    top:230px;
    left:130px;
    transition-duration: 0.3s;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.13), 0 6px 10px 0 rgba(0,0,0,0.14);
}
.econsButton{
    background:radial-gradient(ellipse at bottom left,rgb(184, 131, 241),rgb(233, 212, 255));
    -webkit-background:-webkit-radial-gradient(ellipse at bottom left,rgb(184, 131, 241),rgb(233, 212, 255));
}
.econsButton:hover{
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.physButton{
    background:radial-gradient(ellipse at bottom left,rgb(242, 176, 110),rgb(255, 220, 184));
    -webkit-background:-webkit-radial-gradient(ellipse at bottom left,rgb(242, 176, 110),rgb(255, 220, 184));;    
}
.physButton:hover{
    transition-duration: 0.3s;   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);}

.chemButton{
    background: radial-gradient(ellipse at bottom left,rgb(232, 255, 80),rgb(249, 255, 208));    
    -webkit-background: -webkit-radial-gradient(ellipse at bottom left,rgb(232, 255, 80),rgb(249, 255, 208));    

}
.chemButton:hover{
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.cardMain:hover{
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);

}
.manageSubText{
    width:140px;
}
.manageSubText p{
    color:rgb(50,50,50);
}
.blurCover{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding-top:10px;
    border-radius: 20px;
    
    backdrop-filter: blur(1px);
}

.narrativeTextLeft{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:130px;
    margin-left:10px;
}
.narrativeTextLeft p{
    color:rgba(60,60,60,1);
}

.narrativeTextRight{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:130px;
    margin-right:10px;
    text-align: right;
}
.narrativeTextRight p{
    color:rgba(60,60,60,1);
}

.narrativeHeaderText{
    font-size: 50px;
    font-weight:7px ;
    display:inline-block;
}



.cardInnerText{
    margin-left:20px;
    margin-top:30px;
}



@media all and (max-width:1200px){
    .container1{

        width:100%;

        align-self:center;

    }
    #box1{
        width:100%;
        padding-right:10px;
    }
    #subflex1{
        align-self:center;
    margin:10px;
    width:100%;
    }
    #subflex2{
        align-self:center;
    margin:10px;
    width:100%;
    flex-wrap: wrap-reverse;
    }
    #subflex3{
        align-self:center;
    margin:10px;
    width:100%;

    }
    .narrativeTextLeft{
        margin-top:0px;
        text-align:center;
    }
    .narrativeTextRight{
        margin-top:0px;
        text-align:center;
    }

}

@media all and (max-width:1000px){
    #containerMain{
        width:92%;
    }
}

@media all and (max-width:500px){
    .container1{
        height:max-content;
        padding-bottom:10px

    }
    #containerMain{
        width:95vw;
    }
}